.git
node_modules
export
dist
renderer/.next
renderer/out
**/*.tsbuildinfo
.upscayl-web-data
AGENTS.md
docs/web-spec
.agents
.codex
.aws
.env
.env.*
**/.env
**/.env.*
*.log
**/AGENTS.md
**/node_modules
**/*qa*
resources/mac
resources/win
